@mixin score-box($score, $color) {
  background-color: $color;
  width: $score;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  &__skill {
    border-top: 1px solid grey;
  }
  &__technology {
    margin: 0.5em auto;
    padding: 0.1em;
  }
}

.technology {
  &__score {
    position: relative;
    font-size: 110%;
    & > span {
      position: absolute;
      top: -0.5em;
      left: 0;
      font-weight: 900;
    }
  }
  &__expand {
    color: black;
    font-size: 110%;
    text-decoration: none;
  }
  &__summary {
    border-top: 1px solid grey;
    padding: 0.5em;
  }
}


.score {
  &-30 {
    @include score-box(30%, lightcoral);
  }
  &-40 {
    @include score-box(40%, rgb(240, 178, 128));
  }
  &-50 {
    @include score-box(50%, rgb(240, 229, 128));
  }
  &-60 {
    @include score-box(60%, rgb(219, 240, 128));
  }
  &-70 {
    @include score-box(70%, rgb(169, 240, 128));
  }
  &-80 {
    @include score-box(80%, rgb(128, 240, 171));
  }
  &-90 {
    @include score-box(90%, rgb(128, 240, 231));
  }
}