$nav__button-padding: 1em 12em;

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  &__item {
    display: inline-block;
  }

  &__button {
    color: black;
    padding: $nav__button-padding;
    text-decoration: none;
    &_active {
      background-color: lightgreen;
    }
    transition: background-color 300ms;
  }
}