$nav__button-padding: 1em 0;
$nav__button-border: 1px solid rgb(173, 173, 173);
$nav__button-color: black;
$nav__button-color_hover: lightgreen;
$nav__button-background: lightgreen;
$nav__button-background_active: white;
$nav__button-background_hover: brown;


.nav {
  @media (max-width: $screen-medium) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    background-color: $nav__button-background;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
    @media (max-width: $screen-medium) {
      display: none;
      margin-top: 0;
    }

    &__is-expanded {
      display: block;
    }
  }

  &__item {
    width: 25%;
    @media (max-width: $screen-medium) {
      width: 100%;
    }
  }

  &__button {
    display: block;
  }

  &__mobile {
    background: {
      color: $nav__button-background;
      image: url('/resources/img/hamburger.svg');
      repeat: no-repeat
    };
    display: none;
    @media (max-width: $screen-medium) {
      display: block;
    }
  }

  &__button, &__mobile {
    background-color: $nav__button-background;
    border: $nav__button-border;
    width: 100%;
    padding: $nav__button-padding;
    color: $nav__button-color;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    transition: background-color $transition-delay, color $transition-delay;
    &_active {
      background-color: $nav__button-background_active;
      border-bottom: 1px solid white;
    }
    &:hover {
      color: $nav__button-color_hover;
      background-color: $nav__button-background_hover;
    }
  }
}