.project-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  background-color: lightgreen;
  margin: 2%;
  padding: 3% 3%;
  width: 22%;
  @media (max-width: $screen-big) {
    width: 38%;
  }
  @media (max-width: $screen-medium) {
    width: 100%;
  }
  &__link {
    color: black;
    text-decoration: none;
    transition: color $transition-delay;
    &:hover {
      color: brown;
    }
  }
}