<h1>Contacts</h1>
<p>You can send me a message by using the form below:</p>
<p>Actually, you can't do that right now, sorry!</p>
<form class="form" id="email-form">
  <input type="email" name="email" placeholder="Your email" class="form__input">
  <textarea name="message" placeholder="Your message" class="form__textarea" required></textarea>
  <input type="submit" class="nav__button form__button" value="Send">
</form>
<span class="success">Success!</span>
<span class="error">Something went wrong!</span>