<h1>Contacts</h1>
<p>You can send me a message by using the form below:</p>
<p>Actually, you can't do that right now, sorry!</p>
<form class="form">
  <input type="text" placeholder="Your e-mail" class="form__input">
  <textarea placeholder="Your message" class="form__textarea"></textarea>
  <button class="nav__button form__button" disabled>Submit</button>
</form>