<nav class="nav-main">
  <div class="nav">
    <a href="#" class="nav__mobile"></a>
    <ul class="nav__container">
      <li class="nav__item">
        <a
          href="#"
          class="nav__button"
          id="home"
          data-page="home"
        >{{this.home}}</a>
      </li>
      <li class="nav__item">
        <a
          href="#"
          class="nav__button"
          id="projects"
          data-page="projects"
        >{{this.projects}}</a>
      </li>
      <li class="nav__item">
        <a
          href="#"
          class="nav__button"
          id="about"
          data-page="skills"
        >{{this.skills}}</a>
      </li>
      <li class="nav__item">
        <a
          href="#"
          class="nav__button"
          id="contacts"
          data-page="contacts"
        >{{this.contacts}}</a>
      </li>
    </ul>
  </div>
</nav>