.main-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  padding: 2em 1em;
  height: 81%;
}

.footer {
  background-color: lightgreen;
  padding: 2em 1em;
}