$baseFontSize: 16px;
$baseFontFamily: sans-serif;

body {
  box-sizing: border-box;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  text-align: center;
  @media (min-width: $screen-big) {
    font-size: 1.1 * $baseFontSize;
  }
  @media (min-width: $screen-xl) {
    font-size: 2 * $baseFontSize;
  }
}

h1 {
  border-bottom: 1px solid grey;
  padding: 0.5em;
}